mlflow==2.7.1
catboost==1.2.2
cloudpickle==2.2.1
entrypoints==0.4
imbalanced-learn==0.11.0
ipywidgets==8.0.2
numpy==1.23.4
packaging==21.3
pandas==1.5.3
pyyaml==6.0
scikit-learn==1.2.1
scipy==1.9.1
xgboost==1.7.4